<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>student_list</title>
</head>
<body>
<h2>学生列表</h2>
<a href="addForm">添加学生</a>
<table border="1" style="width:800px;">
    <tr>
        <th>学生学号</th>
        <th>学生姓名</th>
        <th>学生年龄</th>
        <th>学生性别</th>
        <th>操作</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.studentid}"></td>
        <td th:text="${student.studentname}"></td>
        <td th:text="${student.studentage}"></td>
        <td th:text="${student.studentgender}"></td>
        <td>
            <a th:href="@{delete(studentid=${student.studentid})}">删除</a>
            <a th:href="@{updateForm(studentid=${student.studentid})}">修改</a>

        </td>
    </tr>
</table>
</body>
</html>